body {
  margin: 0;
}

nav {
  position: fixed;
}

main {
  padding-top: 40px;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.section {
  padding: 30px 0;
}

#intro {
  text-align: center;
  background-color: rgb(203, 240, 228);
}
#intro img {
  width: 80%;
  max-width: 500px;
}
#intro .cont {
  display: inline-block;
  vertical-align: middle;
}
#intro .cont h1 {
  margin: 0.33em 0;
  color: rgb(68, 68, 68);
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#intro .cont p {
  width: 90%;
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  color: rgb(89, 89, 89);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  word-spacing: 2px;
  line-height: 35px;
}
#buy_btns .buy-btn {
  margin: 1em 1em;
  padding: 0.66em 1em;
  border-radius : 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: rgb(0, 182, 148);
  font-size: 18px;
}
#buy_btns .buy-btn:hover {
  background: rgb(69, 201, 177);
  color: white;
}

#about {
  text-align: center;
  background-color: rgb(176, 224, 230);
  vertical-align: middle;
}

#about .cont h1 {
  margin: 0.33em 0;
  font-family: 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
  text-align: left;

}

#about .cont p{
  width: 90%;
  max-width: 500px;
  text-align: left;
  margin: 0;
  color: rgb(89, 89, 89);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

#about .cont{
  width: 90%;
  max-width: 500px;
  vertical-align: middle;
}

#about .img-cont{
  width: 90%;
  max-width: 500px;
}

#about .img-cont img{
  width: 100%;
}

#columns {
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(176, 224, 230);
  text-align: center;
  padding: 0 0;
}

#columns .text-cont{
  width: 20%;
  max-width: 500px;
  padding: 0.66em;
  margin: 1.5em;
  vertical-align: top;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: left;
  color: rgb(89, 89, 89);
  background-color: rgb(218, 238, 253);
}

#reviews {
  background-color: rgb(218, 238, 253);

}

#reviews .cont h1 {
  margin: 0.33em 0 0.66em 0;
  font-family: 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
  text-align: center;
}

#reviews .cont {
  width: 20%;
  max-width: 500px;
  padding: 0.66em;
  margin: 1.5em;
  text-align: left;
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(89, 89, 89);
  font-size: 20px;
  line-height: 30px;
}

#signup {
}

#author {
  text-align: center;
}

#author .cont h1 {
  margin: 0.33em 0;
  font-family: 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
}

#author .cont{
  width: 90%;
  max-width: 500px;
  vertical-align: middle;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(89, 89, 89);
  font-size: 20px;
  line-height: 30px;
}

#author .img-cont{
  width: 90%;
  max-width: 500px;
}

#author .img-cont img{
  width: 80%;
}


#contact {
}
